@charset "utf-8";

// Customization

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch&family=Red+Hat+Display:wght@400;700&display=swap');

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$black-ter: #2a3637;
$mint: #51f1a5;
$mint-invert: #fff;

$family-sans-serif: "Red Hat Display", sans-serif;


$footer-background-color: $mint;
$footer-color:$mint-invert;
// 3. Set the derived variables

$primary: $mint;
$primary-invert: $mint-invert;
$family-primary: "Red Hat Display", sans-serif;
$family-secondary: "Chakra Petch", sans-serif;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
